# Notebook 3 : Analyse pour la Construction de la Couche Gold

## Objectif

Ce notebook vous guide dans l'**analyse des données de la couche silver** pour préparer la construction de la couche **gold** (analytics/BI/ML).

La couche gold contient des données transformées, nettoyées et optimisées pour l'analyse métier et la création de rapports/dashboards.

## Prérequis

Avant d'exécuter ce notebook, assurez-vous d'avoir :

1. **Exécuté le notebook `2_[LOAD]_load_to_bigquery.ipynb`** pour avoir toutes les tables dans BigQuery (dataset `silver`)
2. **Fichier `.env` configuré** avec les variables d'environnement nécessaires
3. **Service Account** avec les permissions BigQuery (`BigQuery Data Viewer`, `BigQuery Job User`)
4. **Packages Python installés** : `google-cloud-bigquery`, `pandas`, etc.

## Structure du Notebook

Ce notebook contient **4 tâches principales** à réaliser :

1. **Tâche 1 : Analyser la Granularité** - Comprendre le niveau de détail de chaque table
2. **Tâche 2 : Identifier les Transformations** - Déterminer les transformations nécessaires pour la couche gold
3. **Tâche 3 : Identifier les Clés de Jointure** - Mapper les relations entre les tables
4. **Tâche 4 : Analyse métier Identifier les **KPIs** métiers - 

## Résultats Attendus

À la fin de ce notebook, vous devriez avoir :
- Une compréhension claire de la structure et de la granularité de chaque table
- Une liste des transformations à appliquer pour créer la couche gold
- Un schéma de jointures documenté

## Configuration et Connexion à BigQuery

Cette section configure l'environnement et établit la connexion avec BigQuery pour explorer les données de la couche silver.

In [1]:
# Standard library imports
import os
from pathlib import Path

# Third-party imports
import pandas as pd
from dotenv import load_dotenv
from google.cloud import bigquery
from google.oauth2 import service_account

# Configuration
load_dotenv()

ROOT = Path.cwd().parent
PROJECT_ID = os.getenv("PROJECT_ID")
SA_PATH = ROOT / os.getenv("GOOGLE_APPLICATION_CREDENTIALS")
DATASET_ID = "silver"

# Authentification
creds = service_account.Credentials.from_service_account_file(SA_PATH)
bq_client = bigquery.Client(project=PROJECT_ID, credentials=creds)

print(f"[OK] - Connecté au projet: {PROJECT_ID}")
print(f"[OK] - Dataset: {DATASET_ID}")

[OK] - Connecté au projet: projectbigdataadama
[OK] - Dataset: silver

---

## Tâche 1 : Analyser la Granularité de Chaque Table

### Objectif

La **granularité** d'une table correspond au niveau de détail des données qu'elle contient. Comprendre la granularité est essentiel pour :
- Déterminer comment agréger les données
- Identifier les duplications potentielles
- Comprendre le niveau de détail nécessaire pour les analyses métier

### Instructions

Pour chaque table du dataset `silver`, vous devez :

1. **Lister les colonnes** et leurs types
2. **Identifier les clés primaires** ou les colonnes qui identifient de manière unique une ligne
3. **Déterminer la granularité** : à quel niveau de détail sont les données ?
   - Exemple : `fact_validations` pourrait être au niveau **jour × gare × type de titre**
4. **Compter les lignes** et estimer la taille des données
5. **Identifier les colonnes de dimension** (références vers d'autres tables)

### Exemple de Format de Réponse

```
Table: dim_gare
- Granularité: 1 ligne = 1 gare
- Clé primaire: id_gares
- Nombre de lignes: 1234
- Colonnes de dimension: aucune (table de dimension)
```

### À Compléter : Analyse de Granularité

**Tables de Dimension :**

1. `dim_gare`
2. `dim_ligne`
3. `dim_arret`
4. `dim_vacances_scolaires`
5. `dim_transporteur`

**Tables de Fait :**

6. `fact_validations_*` (toutes les tables de validation)

**Votre tâche :** Exécutez des requêtes SQL pour analyser chaque table et remplir le tableau ci-dessous.

In [10]:
tables_dimension = ["gares", "dim_ligne", "dim_arret", "dim_vacances_scolaires", "dim_transporteur"]

# Lister toutes les tables de fait dynamiquement
tables_fait = [t.table_id for t in bq_client.list_tables("silver_dataset") if t.table_id.startswith("fact_validations")]

# Fonction d'analyse
def analyse_table(table_name):
    print(f"\n=== Analyse de {table_name} ===")
    
    query = f"""
    SELECT *
    FROM `{PROJECT_ID}.silver_dataset.{table_name}`
    LIMIT 10
    """
    df = bq_client.query(query).to_dataframe()
    display(df)
    
    table = bq_client.get_table(f"{PROJECT_ID}.silver_dataset.{table_name}")
    print("Schéma :")
    for field in table.schema:
        print(f"  - {field.name}: {field.field_type} ({field.mode})")

# Analyser tables de dimension
for t in tables_dimension:
    analyse_table(t)

# Analyser tables de fait
for t in tables_fait:
    analyse_table(t)

=== Analyse de gares ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,geo_point_2d,geo_shape,id_gares,nom_gares,nom_so_gar,nom_su_gar,id_ref_zdc,nom_zdc,id_ref_zda,nom_zda,...,termetro,tertram,terval,exploitant,idf,principal,x,y,picto,nom_iv
0,POINT(2.37210313840257 48.9637554296203),POINT(2.37210313840257 48.9637554296203),643,Pierrefitte Stains,None,None,72787,Pierrefitte - Stains,43179,Pierrefitte - Stains,...,0,0,0,SNCF,1,0,654024.0938,6.873939e+06,"{""thumbnail"": true, ""filename"": ""RER_D.svg"", ""...",Pierrefitte Stains
1,POINT(2.39059365264184 48.9767478482939),POINT(2.39059365264184 48.9767478482939),322,Garges-Sarcelles,None,None,65582,Garges - Sarcelles,43251,Garges - Sarcelles,...,0,0,0,SNCF,1,0,655389.1309,6.875373e+06,"{""thumbnail"": true, ""filename"": ""RER_D.svg"", ""...",Garges-Sarcelles
2,POINT(2.4624564927797 48.6055558263784),POINT(2.4624564927797 48.6055558263784),270,Essonnes-Robinson,None,None,422776,Essonnes Robinson,45759,Essonnes Robinson,...,0,0,0,SNCF,1,0,660368.7153,6.834063e+06,"{""thumbnail"": true, ""filename"": ""RER_D.svg"", ""...",Essonnes-Robinson
3,POINT(2.50175806584646 49.0493256008857),POINT(2.50175806584646 49.0493256008857),482,Louvres,None,None,69300,Louvres,44628,Louvres,...,0,0,0,SNCF,1,0,663577.5993,6.883387e+06,"{""thumbnail"": true, ""filename"": ""RER_D.svg"", ""...",Louvres
4,POINT(2.35038953788977 48.9175671765846),POINT(2.35038953788977 48.9175671765846),806,Stade de France-Saint-Denis,None,None,72206,Stade de France Saint-Denis,43204,Stade de France Saint-Denis,...,0,0,0,SNCF,1,0,652391.9594,6.868816e+06,"{""thumbnail"": true, ""filename"": ""RER_D.svg"", ""...",Stade de France-Saint-Denis
5,POINT(2.48424255643507 48.7066109356985),POINT(2.48424255643507 48.7066109356985),924,Yerres,None,None,63044,Yerres,43226,Yerres,...,0,0,0,SNCF,1,0,662048.2876,6.845287e+06,"{""thumbnail"": true, ""filename"": ""RER_D.svg"", ""...",Yerres
6,POINT(2.46155018089749 48.5928121903408),POINT(2.46155018089749 48.5928121903408),894,Villabé,None,None,60124,Villabé,47904,Villabé,...,0,0,0,SNCF,1,0,660292.2364,6.832647e+06,"{""thumbnail"": true, ""filename"": ""RER_D.svg"", ""...",Villabé
7,POINT(2.39678350341544 48.65484933543),POINT(2.39678350341544 48.65484933543),337,Grigny-Centre,None,None,60797,Grigny Centre,43132,Grigny Centre,...,0,0,0,SNCF,1,0,655568.8183,6.839578e+06,"{""thumbnail"": true, ""filename"": ""RER_D.svg"", ""...",Grigny-Centre
8,POINT(2.36127055524106 49.0984002624769),POINT(2.36127055524106 49.0984002624769),63,Belloy-Saint-Martin,None,None,67126,Belloy - Saint-Martin,47524,Belloy - Saint-Martin,...,0,0,0,SNCF,1,0,653352.0527,6.888919e+06,"{""thumbnail"": true, ""filename"": ""train_H.svg"",...",Belloy-Saint-Martin
9,POINT(2.33682968983683 49.0329720467715),POINT(2.33682968983683 49.0329720467715),239,Domont,None,None,66654,Domont,43120,Domont,...,0,0,0,SNCF,1,0,651506.0056,6.881657e+06,"{""thumbnail"": true, ""filename"": ""train_H.svg"",...",Domont

Schéma :
  - geo_point_2d: GEOGRAPHY (NULLABLE)
  - geo_shape: GEOGRAPHY (NULLABLE)
  - id_gares: INTEGER (REQUIRED)
  - nom_gares: STRING (NULLABLE)
  - nom_so_gar: STRING (NULLABLE)
  - nom_su_gar: STRING (NULLABLE)
  - id_ref_zdc: INTEGER (NULLABLE)
  - nom_zdc: STRING (NULLABLE)
  - id_ref_zda: INTEGER (NULLABLE)
  - nom_zda: STRING (NULLABLE)
  - idrefliga: STRING (NULLABLE)
  - idrefligc: STRING (NULLABLE)
  - res_com: STRING (NULLABLE)
  - indice_lig: STRING (NULLABLE)
  - mode: STRING (NULLABLE)
  - tertrain: STRING (NULLABLE)
  - terrer: STRING (NULLABLE)
  - termetro: STRING (NULLABLE)
  - tertram: STRING (NULLABLE)
  - terval: STRING (NULLABLE)
  - exploitant: STRING (NULLABLE)
  - idf: INTEGER (NULLABLE)
  - principal: INTEGER (NULLABLE)
  - x: FLOAT (NULLABLE)
  - y: FLOAT (NULLABLE)
  - picto: STRING (NULLABLE)
  - nom_iv: STRING (NULLABLE)

=== Analyse de dim_ligne ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,id_line,name_line,shortname_line,transportmode,transportsubmode,type,operatorref,operatorname,additionaloperators,networkname,...,shortname_groupoflines,notice_title,notice_text,picto,valid_fromdate,valid_todate,status,privatecode,air_conditioning,id_bus_contrat
0,C02676,2376,2376,bus,None,None,1019,Transdev Marne-et-Ourcq,None,Meaux et Ourcq,...,Quincy-Voisins Champ Madame <> Saint-Germain-s...,None,None,None,2024-09-02,NaT,active,None,partial,11
1,C02701,2160,2160,bus,None,None,1029,Keolis Roissy Pays de France Est,None,Roissy Est,...,SAINT-SOUPPLET S – Collège Nicolas Tronchon | ...,None,None,None,2024-04-22,NaT,active,None,partial,8
2,C02720,3447,3447,bus,None,None,1026,Transdev Pays de Fontainebleau,None,Fontainebleau - Moret,...,Gare Bois le Roi via Brolle – Gare Bois le Roi,None,None,None,2024-11-18,NaT,active,None,partial,16
3,C02733,Bus de substitution du tram T14,T14,bus,None,REPLACEMENT_LINE_TYPE,1042,STRETTO,None,None,...,Esbly - Crécy,None,None,None,2025-03-22,NaT,active,None,partial,None
4,C02755,TàD Meaux Ouest,TAD,bus,demandAndResponseBus,None,1019,Transdev Marne-et-Ourcq,None,Meaux et Ourcq,...,TAD MEAUX ZONE SUD OUEST,None,None,None,2021-06-22,NaT,active,None,true,11
5,C02757,TàD Meaux Est,TAD,bus,demandAndResponseBus,None,1019,Transdev Marne-et-Ourcq,None,Meaux et Ourcq,...,TAD MEAUX ZONE SUD-EST,None,None,None,2021-06-22,NaT,active,None,true,11
6,C02761,TAD zonal Crécy la Chapelle (matin),TAD,bus,demandAndResponseBus,None,1020,Transdev Brie et 2 Morin,None,Brie et 2 Morin,...,TAD zonal Crécy la Chapelle (matin),None,None,None,2022-06-10,NaT,active,None,true,12
7,C02766,TAD Vallée de Chevreuse,TAD,bus,demandAndResponseBus,None,1033,Transdev Cœur Essonne,None,Cœur d’Essonne,...,BRETIGNY-SUR-ORGE (RER) - BONDOUFLE (GARE),None,None,None,2014-07-16,NaT,active,None,true,25
8,C02833,18,18,metro,None,None,1049,Keolis Compagnie du Métro Grand Paris L18,None,None,...,18,Date de mise en service,Date donnée à titre indicatif. La date officie...,None,2026-10-01,NaT,prochainement active,None,unknown,None
9,C02699,2158,2158,bus,None,None,1029,Keolis Roissy Pays de France Est,None,Roissy Est,...,MEAUX – Henri IV ou Lycée Pierre de Coubertin ...,None,None,None,2024-04-22,NaT,active,None,partial,8

Schéma :
  - id_line: STRING (NULLABLE)
  - name_line: STRING (NULLABLE)
  - shortname_line: STRING (NULLABLE)
  - transportmode: STRING (NULLABLE)
  - transportsubmode: STRING (NULLABLE)
  - type: STRING (NULLABLE)
  - operatorref: STRING (NULLABLE)
  - operatorname: STRING (NULLABLE)
  - additionaloperators: STRING (NULLABLE)
  - networkname: STRING (NULLABLE)
  - colourweb_hexa: STRING (NULLABLE)
  - textcolourweb_hexa: STRING (NULLABLE)
  - colourprint_cmjn: STRING (NULLABLE)
  - textcolourprint_hexa: STRING (NULLABLE)
  - accessibility: STRING (NULLABLE)
  - audiblesigns_available: STRING (NULLABLE)
  - visualsigns_available: STRING (NULLABLE)
  - id_groupoflines: STRING (NULLABLE)
  - shortname_groupoflines: STRING (NULLABLE)
  - notice_title: STRING (NULLABLE)
  - notice_text: STRING (NULLABLE)
  - picto: STRING (NULLABLE)
  - valid_fromdate: DATE (NULLABLE)
  - valid_todate: DATE (NULLABLE)
  - status: STRING (NULLABLE)
  - privatecode: STRING (NULLABLE)
  - air_conditioning: STRING (NULLABLE)
  - id_bus_contrat: STRING (NULLABLE)

=== Analyse de dim_arret ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,arrid,arrversion,arrcreated,arrchanged,arrname,arrtype,arrxepsg2154,arryepsg2154,arrtown,arrpostalregion,arraccessibility,arraudiblesignals,arrvisualsigns,arrfarezone,zdaid,arrgeopoint
0,472119,1078978-1088999,2019-03-07 18:35:03+00:00,2019-03-07 21:46:02+00:00,Château-Thierry,rail,729950,6882076,Château-Thierry,02168,unknown,unknown,unknown,None,411378,POINT(3.40961114058419 49.0378702612612)
1,472854,1081982-1088999,2019-03-07 19:52:13+00:00,2019-03-07 21:46:02+00:00,Château-Thierry,rail,729948,6882083,Château-Thierry,02168,unknown,unknown,unknown,None,411378,POINT(3.40958428465991 49.0379332955547)
2,471957,1078302-1088999,2019-03-07 18:19:17+00:00,2019-03-07 21:46:02+00:00,Château-Thierry,rail,729945,6882088,Château-Thierry,02168,unknown,unknown,unknown,None,411378,POINT(3.40954361051659 49.0379783933307)
3,472783,1081682-1088999,2019-03-07 19:43:47+00:00,2019-03-07 21:46:02+00:00,Château-Thierry,rail,729954,6882073,Château-Thierry,02168,unknown,unknown,unknown,None,411378,POINT(3.40966563273454 49.0378430999555)
4,470760,1073627-1088999,2019-03-07 17:00:55+00:00,2019-03-07 21:46:02+00:00,Château-Thierry,rail,729933,6882093,Château-Thierry,02168,unknown,unknown,unknown,None,411378,POINT(3.40937984965592 49.0380239107081)
5,411377,412332-1088999,2015-01-26 14:04:52+00:00,2015-01-26 14:04:52+00:00,Gare de Château Thierry,rail,729936,6882079,Château-Thierry,02168,partial,partial,partial,None,411378,POINT(3.40943243247177 49.0379054891068)
6,470653,1073233-1088995,2019-03-07 16:56:23+00:00,2019-03-11 17:27:30+00:00,Château-Thierry,bus,729923,6882116,Château-Thierry,02168,unknown,unknown,unknown,None,473190,POINT(3.40924471699408 49.0382311829359)
7,471821,1077763-1090867,2019-03-07 18:07:55+00:00,2019-03-07 21:46:02+00:00,Chézy-sur-Marne,rail,726670,6876950,Chézy-sur-Marne,02186,unknown,unknown,unknown,None,411381,POINT(3.36442934987372 48.9919229357681)
8,411380,412340-1090867,2015-01-26 14:04:55+00:00,2015-01-26 14:04:55+00:00,Gare de Chézy sur Marne,rail,726661,6876941,Chézy-sur-Marne,02186,partial,partial,partial,None,411381,POINT(3.36431113479106 48.9918483628872)
9,471764,1077531-1090867,2019-03-07 18:03:07+00:00,2019-03-07 21:46:02+00:00,Chézy-sur-Marne,rail,726677,6876942,Chézy-sur-Marne,02186,unknown,unknown,unknown,None,411381,POINT(3.36452449462112 48.9918507092962)

Schéma :
  - arrid: STRING (NULLABLE)
  - arrversion: STRING (NULLABLE)
  - arrcreated: TIMESTAMP (NULLABLE)
  - arrchanged: TIMESTAMP (NULLABLE)
  - arrname: STRING (NULLABLE)
  - arrtype: STRING (NULLABLE)
  - arrxepsg2154: INTEGER (NULLABLE)
  - arryepsg2154: INTEGER (NULLABLE)
  - arrtown: STRING (NULLABLE)
  - arrpostalregion: STRING (NULLABLE)
  - arraccessibility: STRING (NULLABLE)
  - arraudiblesignals: STRING (NULLABLE)
  - arrvisualsigns: STRING (NULLABLE)
  - arrfarezone: STRING (NULLABLE)
  - zdaid: STRING (NULLABLE)
  - arrgeopoint: GEOGRAPHY (NULLABLE)

=== Analyse de dim_vacances_scolaires ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,description,population,start_date,end_date,location,zones,annee_scolaire
0,Vacances de la Toussaint,-,2009-10-25 23:00:00+00:00,2009-11-08 23:00:00+00:00,Corse,Corse,2009-2010
1,Vacances de Noël,-,2009-12-20 23:00:00+00:00,2010-01-03 23:00:00+00:00,Corse,Corse,2009-2010
2,Vacances d'Hiver,-,2010-02-21 23:00:00+00:00,2010-03-07 23:00:00+00:00,Corse,Corse,2009-2010
3,Vacances de Printemps,-,2010-04-25 22:00:00+00:00,2010-05-09 22:00:00+00:00,Corse,Corse,2009-2010
4,Vacances d'Été,Enseignants,2010-07-07 22:00:00+00:00,2010-09-07 22:00:00+00:00,Corse,Corse,2009-2010
5,Vacances d'Été,Élèves,2010-07-07 22:00:00+00:00,2010-09-08 22:00:00+00:00,Corse,Corse,2009-2010
6,Vacances de la Toussaint,-,2010-10-24 22:00:00+00:00,2010-11-01 23:00:00+00:00,Corse,Corse,2010-2011
7,Vacances de Noël,-,2010-12-19 23:00:00+00:00,2011-01-02 23:00:00+00:00,Corse,Corse,2010-2011
8,Vacances d'Hiver,-,2011-02-20 23:00:00+00:00,2011-03-06 23:00:00+00:00,Corse,Corse,2010-2011
9,Vacances de Printemps,-,2011-04-17 22:00:00+00:00,2011-05-01 22:00:00+00:00,Corse,Corse,2010-2011

Schéma :
  - description: STRING (NULLABLE)
  - population: STRING (NULLABLE)
  - start_date: TIMESTAMP (NULLABLE)
  - end_date: TIMESTAMP (NULLABLE)
  - location: STRING (NULLABLE)
  - zones: STRING (NULLABLE)
  - annee_scolaire: STRING (NULLABLE)

=== Analyse de dim_transporteur ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,operatorname,operatorref,housenumber,street,addressline1,town,postcode,postcodeextension,phone,url,furtherdetails,contactperson,logo,email
0,Transdev Versailles,1034,None,allée des Matelots,Dépôt des Mortemets,Versailles,78000,None,01 59 00 12 52,https://www.iledefrance-mobilites.fr/actualite...,https://x.com/Versailles_IDFM,Réseau Grand Versailles,None,https://www.iledefrance-mobilites.fr/aide-et-c...
1,Transdev Senart,1003,None,rue René Cassin,CS 30110,Lieusaint,77127,None,09 70 83 77 00,https://www.iledefrance-mobilites.fr/actualite...,https://x.com/Senart_IDFM,Réseau Sénart,None,https://www.iledefrance-mobilites.fr/aide-et-c...
2,RATP,100,None,RATP Service clientèle,None,Paris Cedex 12,75564,TSA 81250,34 24,https://www.ratp.fr/,https://x.com/RATPgroup,None,None,https://www.ratp.fr/contacts/client
3,SNCF,800,None,None,Relations Clientèle SNCF Transilien,PARIS CEDEX,75564,TSA 21262,36 58,https://www.sncf.com/fr,https://x.com/SNCFVoyageurs,None,None,https://www.transilien.com/fr/page-services/no...
4,ADP,043,1,rue de France,None,Tremblay-en-France,93290,None,None,https://www.parisaeroport.fr/,None,None,None,airpoirtservices.europe@adp.fr
5,Transdev Marne-la-Vallée,1002,1,rue Saint Jacques,None,Bailly-Romainvilliers,77700,None,01 60 07 94 70,https://www.iledefrance-mobilites.fr/actualite...,https://x.com/MLV_IDFM,Réseau de Marne-la-Vallée,None,https://www.iledefrance-mobilites.fr/aide-et-c...
6,Keolis Ouest Val-de-Marne,1004,1,voie de Bouvray,None,Orly,94310,None,0 800 081 206,https://www.iledefrance-mobilites.fr/actualite...,https://x.com/T9_IDFM / https://x.com/SeineOrl...,T9 - Réseau Seine Grand Orly,None,contact@t9.iledefrance-mobilites.fr / contact@...
7,Transdev Cœur Essonne,1033,1,avenue de la Résistance,ZI de la Croix Blanche,Sainte-Geneviève-des-Bois,91700,None,01 69 46 69 00,https://www.iledefrance-mobilites.fr/actualite...,https://x.com/CoeurEs_IDFM,Réseau Cœur d’Essonne,None,s.client.coeur@transdev.com
8,Transdev Valmy,1008,1,chemin du Clos Saint-Paul,None,Saint-Gratien,95210,None,01 34 28 41 90,https://www.iledefrance-mobilites.fr/actualite...,https://x.com/Mtmorency_IDFM,Réseau Vallée de Montmorency,None,https://www.iledefrance-mobilites.fr/aide-et-c...
9,Transdev Pays de Fontainebleau,1026,12,rue du petit rocher,None,Vulaines sur Seine,77870,None,01 64 22 23 88,https://www.iledefrance-mobilites.fr/actualite...,https://x.com/Fbleau_IDFM,Réseau Fontainebleau - Moret,None,https://www.iledefrance-mobilites.fr/aide-et-c...

Schéma :
  - operatorname: STRING (NULLABLE)
  - operatorref: STRING (NULLABLE)
  - housenumber: STRING (NULLABLE)
  - street: STRING (NULLABLE)
  - addressline1: STRING (NULLABLE)
  - town: STRING (NULLABLE)
  - postcode: STRING (NULLABLE)
  - postcodeextension: STRING (NULLABLE)
  - phone: STRING (NULLABLE)
  - url: STRING (NULLABLE)
  - furtherdetails: STRING (NULLABLE)
  - contactperson: STRING (NULLABLE)
  - logo: STRING (NULLABLE)
  - email: STRING (NULLABLE)

=== Analyse de fact_validations_2015s1_nb_fer_csv ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2015-02-15,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,17
1,2015-02-16,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,23
2,2015-02-17,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,21
3,2015-02-18,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,24
4,2015-02-19,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,24
5,2015-02-20,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,16
6,2015-02-21,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,9
7,2015-03-15,810,802,20,ANTONY,69759,NON DEFINI,Moins de 5
8,2015-03-19,810,802,20,ANTONY,69759,NON DEFINI,Moins de 5
9,2015-01-10,810,802,286,FONTAINE-MICHALON,69647,NON DEFINI,Moins de 5

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: STRING (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: STRING (NULLABLE)

=== Analyse de fact_validations_2015s2_nb_fer_csv ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2015-07-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,241
1,2015-07-02,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,222
2,2015-07-03,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,221
3,2015-07-04,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,245
4,2015-07-05,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,149
5,2015-07-06,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,243
6,2015-07-07,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,215
7,2015-07-08,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,260
8,2015-07-09,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,230
9,2015-07-10,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,223

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: STRING (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: STRING (NULLABLE)

=== Analyse de fact_validations_2016s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2016-01-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,115
1,2016-01-02,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,196
2,2016-01-03,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,178
3,2016-01-04,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,239
4,2016-01-05,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,248
5,2016-01-06,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,258
6,2016-01-07,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,243
7,2016-01-08,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,250
8,2016-01-09,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,205
9,2016-01-10,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,197

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: STRING (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: STRING (NULLABLE)

=== Analyse de fact_validations_2016s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2016-11-14,810,801,182,CHESSY - MARNE-LA-VALLEE,68385,NON DEFINI,Moins de 5
1,2016-10-02,810,802,20,ANTONY,69759,NON DEFINI,Moins de 5
2,2016-10-08,100,110,279,FAIDHERBE-CHALIGNY,74001,NON DEFINI,Moins de 5
3,2016-10-09,100,110,279,FAIDHERBE-CHALIGNY,74001,NON DEFINI,Moins de 5
4,2016-11-19,100,110,344,HAVRE-CAUMARTIN,73688,NON DEFINI,Moins de 5
5,2016-12-15,810,801,393,LA DEFENSE-GRANDE ARCHE,71517,NON DEFINI,Moins de 5
6,2016-12-22,810,801,393,LA DEFENSE-GRANDE ARCHE,71517,NON DEFINI,Moins de 5
7,2016-12-26,810,801,393,LA DEFENSE-GRANDE ARCHE,71517,NON DEFINI,Moins de 5
8,2016-07-18,810,802,484,LUXEMBOURG,71161,NON DEFINI,Moins de 5
9,2016-10-03,100,110,519,MARX DORMOY,71510,NON DEFINI,Moins de 5

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: STRING (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: STRING (NULLABLE)

=== Analyse de fact_validations_2017_s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2017-07-01,100,110,1,PORTE MAILLOT,71379,?,155
1,2017-07-02,100,110,1,PORTE MAILLOT,71379,?,132
2,2017-07-03,100,110,1,PORTE MAILLOT,71379,?,188
3,2017-07-04,100,110,1,PORTE MAILLOT,71379,?,179
4,2017-07-05,100,110,1,PORTE MAILLOT,71379,?,196
5,2017-07-06,100,110,1,PORTE MAILLOT,71379,?,180
6,2017-07-07,100,110,1,PORTE MAILLOT,71379,?,166
7,2017-07-08,100,110,1,PORTE MAILLOT,71379,?,143
8,2017-07-09,100,110,1,PORTE MAILLOT,71379,?,169
9,2017-07-10,100,110,1,PORTE MAILLOT,71379,?,183

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2017s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2017-01-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,109
1,2017-01-02,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,193
2,2017-01-03,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,196
3,2017-01-04,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,224
4,2017-01-05,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,229
5,2017-01-06,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,239
6,2017-01-07,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,205
7,2017-01-08,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,186
8,2017-01-09,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,226
9,2017-01-10,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,253

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: STRING (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: STRING (NULLABLE)

=== Analyse de fact_validations_2018_s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2018-01-01,100,110,1,PORTE MAILLOT,71379,?,40
1,2018-01-02,100,110,1,PORTE MAILLOT,71379,?,87
2,2018-01-03,100,110,1,PORTE MAILLOT,71379,?,131
3,2018-01-04,100,110,1,PORTE MAILLOT,71379,?,113
4,2018-01-05,100,110,1,PORTE MAILLOT,71379,?,127
5,2018-01-06,100,110,1,PORTE MAILLOT,71379,?,78
6,2018-01-07,100,110,1,PORTE MAILLOT,71379,?,77
7,2018-01-08,100,110,1,PORTE MAILLOT,71379,?,116
8,2018-01-09,100,110,1,PORTE MAILLOT,71379,?,135
9,2018-01-10,100,110,1,PORTE MAILLOT,71379,?,130

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2019_s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2019-01-01,100,110,1,PORTE MAILLOT,71379,?,38
1,2019-01-02,100,110,1,PORTE MAILLOT,71379,?,125
2,2019-01-03,100,110,1,PORTE MAILLOT,71379,?,104
3,2019-01-04,100,110,1,PORTE MAILLOT,71379,?,85
4,2019-01-05,100,110,1,PORTE MAILLOT,71379,?,99
5,2019-01-06,100,110,1,PORTE MAILLOT,71379,?,68
6,2019-01-07,100,110,1,PORTE MAILLOT,71379,?,143
7,2019-01-08,100,110,1,PORTE MAILLOT,71379,?,126
8,2019-01-09,100,110,1,PORTE MAILLOT,71379,?,117
9,2019-01-10,100,110,1,PORTE MAILLOT,71379,?,110

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2019_s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2019-07-01,100,110,1,PORTE MAILLOT,71379,?,155
1,2019-07-02,100,110,1,PORTE MAILLOT,71379,?,152
2,2019-07-03,100,110,1,PORTE MAILLOT,71379,?,151
3,2019-07-04,100,110,1,PORTE MAILLOT,71379,?,171
4,2019-07-05,100,110,1,PORTE MAILLOT,71379,?,168
5,2019-07-06,100,110,1,PORTE MAILLOT,71379,?,127
6,2019-07-07,100,110,1,PORTE MAILLOT,71379,?,167
7,2019-07-08,100,110,1,PORTE MAILLOT,71379,?,164
8,2019-07-09,100,110,1,PORTE MAILLOT,71379,?,197
9,2019-07-10,100,110,1,PORTE MAILLOT,71379,?,191

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2020_s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2020-01-01,100,110,1,PORTE MAILLOT,71379,?,28
1,2020-01-02,100,110,1,PORTE MAILLOT,71379,?,72
2,2020-01-03,100,110,1,PORTE MAILLOT,71379,?,85
3,2020-01-04,100,110,1,PORTE MAILLOT,71379,?,72
4,2020-01-05,100,110,1,PORTE MAILLOT,71379,?,87
5,2020-01-06,100,110,1,PORTE MAILLOT,71379,?,79
6,2020-01-07,100,110,1,PORTE MAILLOT,71379,?,111
7,2020-01-08,100,110,1,PORTE MAILLOT,71379,?,93
8,2020-01-09,100,110,1,PORTE MAILLOT,71379,?,119
9,2020-01-10,100,110,1,PORTE MAILLOT,71379,?,83

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2020_s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2020-07-01,100,110,1,PORTE MAILLOT,71379,?,99
1,2020-07-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,102
2,2020-07-01,100,110,1,PORTE MAILLOT,71379,AUTRE TITRE,273
3,2020-07-01,100,110,1,PORTE MAILLOT,71379,FGT,225
4,2020-07-01,100,110,1,PORTE MAILLOT,71379,IMAGINE R,1285
5,2020-07-01,100,110,1,PORTE MAILLOT,71379,NAVIGO,7244
6,2020-07-01,100,110,1,PORTE MAILLOT,71379,NAVIGO JOUR,11
7,2020-07-01,100,110,1,PORTE MAILLOT,71379,NON DEFINI,270
8,2020-07-01,100,110,1,PORTE MAILLOT,71379,TST,372
9,2020-07-01,100,110,10,ALESIA,71030,?,29

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2021_s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2021-01-01,100,110,1,PORTE MAILLOT,71379,?,45
1,2021-01-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,52
2,2021-01-01,100,110,1,PORTE MAILLOT,71379,AUTRE TITRE,50
3,2021-01-01,100,110,1,PORTE MAILLOT,71379,FGT,81
4,2021-01-01,100,110,1,PORTE MAILLOT,71379,IMAGINE R,369
5,2021-01-01,100,110,1,PORTE MAILLOT,71379,NAVIGO,848
6,2021-01-01,100,110,1,PORTE MAILLOT,71379,NAVIGO JOUR,5
7,2021-01-01,100,110,1,PORTE MAILLOT,71379,NON DEFINI,132
8,2021-01-01,100,110,1,PORTE MAILLOT,71379,TST,101
9,2021-01-01,100,110,10,ALESIA,71030,?,26

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2021_s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2021-07-01,100,110,1,PORTE MAILLOT,71379,?,204
1,2021-07-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,157
2,2021-07-01,100,110,1,PORTE MAILLOT,71379,AUTRE TITRE,983
3,2021-07-01,100,110,1,PORTE MAILLOT,71379,FGT,304
4,2021-07-01,100,110,1,PORTE MAILLOT,71379,IMAGINE R,1958
5,2021-07-01,100,110,1,PORTE MAILLOT,71379,NAVIGO,8821
6,2021-07-01,100,110,1,PORTE MAILLOT,71379,NAVIGO JOUR,43
7,2021-07-01,100,110,1,PORTE MAILLOT,71379,NON DEFINI,766
8,2021-07-01,100,110,1,PORTE MAILLOT,71379,TST,613
9,2021-07-01,100,110,10,ALESIA,71030,?,47

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2022_s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2022-01-01,100,110,1,PORTE MAILLOT,71379,?,21
1,2022-01-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,62
2,2022-01-01,100,110,1,PORTE MAILLOT,71379,AUTRE TITRE,275
3,2022-01-01,100,110,1,PORTE MAILLOT,71379,FGT,80
4,2022-01-01,100,110,1,PORTE MAILLOT,71379,IMAGINE R,451
5,2022-01-01,100,110,1,PORTE MAILLOT,71379,NAVIGO,1274
6,2022-01-01,100,110,1,PORTE MAILLOT,71379,NAVIGO JOUR,8
7,2022-01-01,100,110,1,PORTE MAILLOT,71379,NON DEFINI,234
8,2022-01-01,100,110,1,PORTE MAILLOT,71379,TST,132
9,2022-01-01,100,110,10,ALESIA,71030,?,16

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_REFA_LDA: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2022_s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,lda,CATEGORIE_TITRE,NB_VALD
0,2022-07-01,100,110,1,PORTE MAILLOT,71379,?,253
1,2022-07-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,171
2,2022-07-01,100,110,1,PORTE MAILLOT,71379,AUTRE TITRE,1398
3,2022-07-01,100,110,1,PORTE MAILLOT,71379,FGT,247
4,2022-07-01,100,110,1,PORTE MAILLOT,71379,IMAGINE R,2510
5,2022-07-01,100,110,1,PORTE MAILLOT,71379,NAVIGO,6648
6,2022-07-01,100,110,1,PORTE MAILLOT,71379,NAVIGO JOUR,70
7,2022-07-01,100,110,1,PORTE MAILLOT,71379,NON DEFINI,337
8,2022-07-01,100,110,1,PORTE MAILLOT,71379,TST,564
9,2022-07-01,100,110,10,ALESIA,71030,?,179

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: STRING (NULLABLE)
  - CODE_STIF_ARRET: STRING (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - lda: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2023_s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_ZDC,CATEGORIE_TITRE,NB_VALD
0,2023-07-01,100,<NA>,<NA>,Inconnu,999999,Amethyste,57
1,2023-07-02,100,<NA>,<NA>,Inconnu,999999,Amethyste,43
2,2023-07-03,100,<NA>,<NA>,Inconnu,999999,Amethyste,57
3,2023-07-04,100,<NA>,<NA>,Inconnu,999999,Amethyste,64
4,2023-07-05,100,<NA>,<NA>,Inconnu,999999,Amethyste,28
5,2023-07-06,100,<NA>,<NA>,Inconnu,999999,Amethyste,4
6,2023-07-15,100,<NA>,<NA>,Inconnu,999999,Amethyste,1
7,2023-07-17,100,<NA>,<NA>,Inconnu,999999,Amethyste,2
8,2023-07-18,100,<NA>,<NA>,Inconnu,999999,Amethyste,1
9,2023-07-19,100,<NA>,<NA>,Inconnu,999999,Amethyste,1

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: INTEGER (NULLABLE)
  - CODE_STIF_ARRET: INTEGER (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_ZDC: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

=== Analyse de fact_validations_2024_s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_ZDC,CATEGORIE_TITRE,NB_VALD
0,2024-01-07,100,<NA>,<NA>,Inconnu,999999,Amethyste,14
1,2024-01-08,100,<NA>,<NA>,Inconnu,999999,Amethyste,19
2,2024-01-09,100,<NA>,<NA>,Inconnu,999999,Amethyste,3
3,2024-01-16,100,<NA>,<NA>,Inconnu,999999,Amethyste,1
4,2024-01-30,100,<NA>,<NA>,Inconnu,999999,Amethyste,4
5,2024-01-31,100,<NA>,<NA>,Inconnu,999999,Amethyste,25
6,2024-02-22,100,<NA>,<NA>,Inconnu,999999,Amethyste,3
7,2024-03-12,100,<NA>,<NA>,Inconnu,999999,Amethyste,7
8,2024-03-13,100,<NA>,<NA>,Inconnu,999999,Amethyste,12
9,2024-03-14,100,<NA>,<NA>,Inconnu,999999,Amethyste,23

Schéma :
  - JOUR: DATE (NULLABLE)
  - CODE_STIF_TRNS: INTEGER (NULLABLE)
  - CODE_STIF_RES: INTEGER (NULLABLE)
  - CODE_STIF_ARRET: INTEGER (NULLABLE)
  - LIBELLE_ARRET: STRING (NULLABLE)
  - ID_ZDC: INTEGER (NULLABLE)
  - CATEGORIE_TITRE: STRING (NULLABLE)
  - NB_VALD: INTEGER (NULLABLE)

---

## Tâche 2 : Identifier les Transformations Nécessaires

### Objectif

Identifier les **transformations** à appliquer aux données de la couche silver pour créer la couche gold optimisée pour l'analyse.

### Types de Transformations Possibles

1. **Nettoyage des données**
   - Suppression des doublons
   - Gestion des valeurs NULL
   - Normalisation des formats (dates, textes)

2. **Enrichissement**
   - Ajout de colonnes calculées
   - Jointures avec les tables de dimension
   - Ajout de catégories/segments

3. **Agrégation**
   - Regroupement par dimensions (jour, gare, ligne, etc.)
   - Calcul de métriques (somme, moyenne, comptage)
   - Création de tables pré-agrégées

### Instructions

Pour chaque table, identifiez :
1. **Les problèmes de qualité** à corriger
2. **Les transformations nécessaires** avec des exemples concrets
3. **Les colonnes à ajouter** (calculées ou issues de jointures)
4. **Les agrégations possibles** pour optimiser les requêtes

In [ ]:
###Identification des colonnes de fact_validations
table_name = "fact_validations_2024_s1_nb_fer_txt"

table = bq_client.get_table(f"{PROJECT_ID}.silver_dataset.{table_name}")
print(f"Colonnes de {table_name} :")
for field in table.schema:
    print(f"  - {field.name}: {field.field_type}")

Colonnes de fact_validations_2024_s1_nb_fer_txt :
  - JOUR: DATE
  - CODE_STIF_TRNS: INTEGER
  - CODE_STIF_RES: INTEGER
  - CODE_STIF_ARRET: INTEGER
  - LIBELLE_ARRET: STRING
  - ID_ZDC: INTEGER
  - CATEGORIE_TITRE: STRING
  - NB_VALD: INTEGER

In [ ]:
#### Détection des doublons
query = f"""
SELECT 
    JOUR, CODE_STIF_TRNS, CODE_STIF_RES, CODE_STIF_ARRET, 
    LIBELLE_ARRET, ID_ZDC, CATEGORIE_TITRE,
    COUNT(*) AS count_duplicates
FROM `{PROJECT_ID}.silver_dataset.{table_name}`
GROUP BY 
    JOUR, CODE_STIF_TRNS, CODE_STIF_RES, CODE_STIF_ARRET, 
    LIBELLE_ARRET, ID_ZDC, CATEGORIE_TITRE
HAVING COUNT(*) > 1
ORDER BY count_duplicates DESC
"""
df_duplicates = bq_client.query(query).to_dataframe()
print(f"=== Recherche de doublons dans {table_name} ===")
display(df_duplicates)

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

=== Recherche de doublons dans fact_validations_2024_s1_nb_fer_txt ===

Empty DataFrame
Columns: [JOUR, CODE_STIF_TRNS, CODE_STIF_RES, CODE_STIF_ARRET, LIBELLE_ARRET, ID_ZDC, CATEGORIE_TITRE, count_duplicates]
Index: []

In [19]:
print("Nombre de doublons détectés :", len(df_duplicates))

Nombre de doublons détectés : 0

In [21]:
import pandas as pd

tables_fait = [t.table_id for t in bq_client.list_tables("silver_dataset") if t.table_id.startswith("fact_validations")]

null_summary = []

for table_name in tables_fait:
    table = bq_client.get_table(f"{PROJECT_ID}.silver_dataset.{table_name}")
    columns = [field.name for field in table.schema]
    
    for col in columns:
        query = f"""
        SELECT COUNT(*) AS nb_nulls
        FROM `{PROJECT_ID}.silver_dataset.{table_name}`
        WHERE {col} IS NULL
        """
        df_null = bq_client.query(query).to_dataframe()
        null_summary.append({
            'Table': table_name,
            'Colonne': col,
            'Nombre_NULL': df_null['nb_nulls'][0]
        })

# Transformer en DataFrame unique
df_null_summary = pd.DataFrame(null_summary)
display(df_null_summary)

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

                                   Table          Colonne  Nombre_NULL
0     fact_validations_2015s1_nb_fer_csv             JOUR            0
1     fact_validations_2015s1_nb_fer_csv   CODE_STIF_TRNS            0
2     fact_validations_2015s1_nb_fer_csv    CODE_STIF_RES            0
3     fact_validations_2015s1_nb_fer_csv  CODE_STIF_ARRET            0
4     fact_validations_2015s1_nb_fer_csv    LIBELLE_ARRET            0
..                                   ...              ...          ...
131  fact_validations_2024_s1_nb_fer_txt  CODE_STIF_ARRET          905
132  fact_validations_2024_s1_nb_fer_txt    LIBELLE_ARRET            0
133  fact_validations_2024_s1_nb_fer_txt           ID_ZDC            0
134  fact_validations_2024_s1_nb_fer_txt  CATEGORIE_TITRE            0
135  fact_validations_2024_s1_nb_fer_txt          NB_VALD            0

[136 rows x 3 columns]

In [23]:
import pandas as pd

# Liste des tables de fait
tables_fait = [t.table_id for t in bq_client.list_tables("silver_dataset") 
               if t.table_id.startswith("fact_validations")]

for table_name in tables_fait:
    print(f"\n=== Nettoyage des valeurs NULL dans {table_name} ===")
    
    # 1️⃣ Charger la table complète
    query = f"SELECT * FROM `{PROJECT_ID}.silver_dataset.{table_name}`"
    df = bq_client.query(query).to_dataframe()
    print(f"Nombre de lignes avant nettoyage : {len(df)}")
    
    # 2️⃣ Identifier les colonnes ayant au moins 1 NULL
    null_counts = df.isna().sum()
    cols_with_null = null_counts[null_counts > 0].index.tolist()
    print(f"Colonnes avec NULL : {cols_with_null}")
    
    if not cols_with_null:
        print("Pas de NULL à traiter dans cette table.")
        continue  # passer à la table suivante
    
    # 3️⃣ Colonnes critiques : suppression des lignes si NULL
    critical_cols = ['JOUR', 'CODE_STIF_TRNS', 'CODE_STIF_RES', 'CODE_STIF_ARRET']
    critical_with_null = [col for col in critical_cols if col in cols_with_null]
    if critical_with_null:
        df = df.dropna(subset=critical_with_null)
        print(f"Lignes supprimées pour colonnes critiques : {critical_with_null}")
    
    # 4️⃣ Colonnes non critiques : remplir les NULL
    non_critical_cols = [col for col in cols_with_null if col not in critical_cols]
    
    for col in non_critical_cols:
        if df[col].dtype == 'object':  # texte
            df[col] = df[col].fillna("Inconnu").str.strip().str.upper()
        elif 'int' in str(df[col].dtype) or 'float' in str(df[col].dtype):  # nombres
            df[col] = df[col].fillna(0)
    
    # 5️⃣ Aperçu des données nettoyées
    print(f"Nombre de lignes après nettoyage : {len(df)}")
    display(df.head())

=== Nettoyage des valeurs NULL dans fact_validations_2015s1_nb_fer_csv ===
Nombre de lignes avant nettoyage : 755989
Colonnes avec NULL : ['ID_REFA_LDA']
Nombre de lignes après nettoyage : 755989

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2015-02-15,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,17
1,2015-02-16,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,23
2,2015-02-17,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,21
3,2015-02-18,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,24
4,2015-02-19,100,110,144,CHAMPS-ELYSEES-CLEMENCEAU,71305,NON DEFINI,24

=== Nettoyage des valeurs NULL dans fact_validations_2015s2_nb_fer_csv ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Nombre de lignes avant nettoyage : 778747
Colonnes avec NULL : ['ID_REFA_LDA']
Nombre de lignes après nettoyage : 778747

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2015-07-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,241
1,2015-07-02,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,222
2,2015-07-03,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,221
3,2015-07-04,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,245
4,2015-07-05,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,149

=== Nettoyage des valeurs NULL dans fact_validations_2016s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Nombre de lignes avant nettoyage : 779712
Colonnes avec NULL : ['ID_REFA_LDA']
Nombre de lignes après nettoyage : 779712

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2016-01-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,115
1,2016-01-02,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,196
2,2016-01-03,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,178
3,2016-01-04,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,239
4,2016-01-05,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,248

=== Nettoyage des valeurs NULL dans fact_validations_2016s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Nombre de lignes avant nettoyage : 774421
Colonnes avec NULL : ['ID_REFA_LDA']
Nombre de lignes après nettoyage : 774421

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2016-11-14,810,801,182,CHESSY - MARNE-LA-VALLEE,68385,NON DEFINI,Moins de 5
1,2016-10-02,810,802,20,ANTONY,69759,NON DEFINI,Moins de 5
2,2016-10-08,100,110,279,FAIDHERBE-CHALIGNY,74001,NON DEFINI,Moins de 5
3,2016-10-09,100,110,279,FAIDHERBE-CHALIGNY,74001,NON DEFINI,Moins de 5
4,2016-11-19,100,110,344,HAVRE-CAUMARTIN,73688,NON DEFINI,Moins de 5

=== Nettoyage des valeurs NULL dans fact_validations_2017_s2_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Nombre de lignes avant nettoyage : 825698
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2017s1_nb_fer_txt ===
Nombre de lignes avant nettoyage : 780270
Colonnes avec NULL : ['ID_REFA_LDA']
Nombre de lignes après nettoyage : 780270

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_REFA_LDA,CATEGORIE_TITRE,NB_VALD
0,2017-01-01,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,109
1,2017-01-02,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,193
2,2017-01-03,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,196
3,2017-01-04,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,224
4,2017-01-05,100,110,1,PORTE MAILLOT,71379,AMETHYSTE,229

=== Nettoyage des valeurs NULL dans fact_validations_2018_s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Nombre de lignes avant nettoyage : 866694
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2019_s1_nb_fer_txt ===
Nombre de lignes avant nettoyage : 934851
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2019_s2_nb_fer_txt ===
Nombre de lignes avant nettoyage : 953454
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2020_s1_nb_fer_txt ===
Nombre de lignes avant nettoyage : 887493
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2020_s2_nb_fer_txt ===
Nombre de lignes avant nettoyage : 1054012
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2021_s1_nb_fer_txt ===
Nombre de lignes avant nettoyage : 1064019
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2021_s2_nb_fer_txt ===
Nombre de lignes avant nettoyage : 1084281
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2022_s1_nb_fer_txt ===
Nombre de lignes avant nettoyage : 1088334
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2022_s2_nb_fer_txt ===
Nombre de lignes avant nettoyage : 1105947
Colonnes avec NULL : []
Pas de NULL à traiter dans cette table.

=== Nettoyage des valeurs NULL dans fact_validations_2023_s2_nb_fer_txt ===
Nombre de lignes avant nettoyage : 849596
Colonnes avec NULL : ['CODE_STIF_RES', 'CODE_STIF_ARRET']
Lignes supprimées pour colonnes critiques : ['CODE_STIF_RES', 'CODE_STIF_ARRET']
Nombre de lignes après nettoyage : 848808

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_ZDC,CATEGORIE_TITRE,NB_VALD
84,2023-07-01,100,110,1,PORTE MAILLOT,71379,Amethyste,147
85,2023-07-02,100,110,1,PORTE MAILLOT,71379,Amethyste,86
86,2023-07-03,100,110,1,PORTE MAILLOT,71379,Amethyste,158
87,2023-07-04,100,110,1,PORTE MAILLOT,71379,Amethyste,184
88,2023-07-05,100,110,1,PORTE MAILLOT,71379,Amethyste,183

=== Nettoyage des valeurs NULL dans fact_validations_2024_s1_nb_fer_txt ===

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Nombre de lignes avant nettoyage : 859043
Colonnes avec NULL : ['CODE_STIF_RES', 'CODE_STIF_ARRET']
Lignes supprimées pour colonnes critiques : ['CODE_STIF_RES', 'CODE_STIF_ARRET']
Nombre de lignes après nettoyage : 858138

,JOUR,CODE_STIF_TRNS,CODE_STIF_RES,CODE_STIF_ARRET,LIBELLE_ARRET,ID_ZDC,CATEGORIE_TITRE,NB_VALD
105,2024-01-01,100,110,1,PORTE MAILLOT,71379,Amethyste,78
106,2024-01-02,100,110,1,PORTE MAILLOT,71379,Amethyste,133
107,2024-01-03,100,110,1,PORTE MAILLOT,71379,Amethyste,204
108,2024-01-04,100,110,1,PORTE MAILLOT,71379,Amethyste,177
109,2024-01-05,100,110,1,PORTE MAILLOT,71379,Amethyste,179

---

## Tâche 3 : Identifier les Clés de Jointure Possibles

### Objectif

Identifier toutes les **relations possibles** entre les tables pour pouvoir créer des jointures dans la couche gold.

### Instructions

Pour chaque paire de tables, identifiez :

1. **Les colonnes de jointure** (clés étrangères)
2. **Le type de relation** (1-1, 1-N, N-N)
3. **La cardinalité** (combien de lignes de la table A correspondent à combien de lignes de la table B)
4. **Vérifier l'intégrité référentielle** (toutes les clés étrangères existent-elles dans la table de dimension ?)

In [26]:
# Tables de dimension
tables_dim = ['gares', 'dim_ligne', 'dim_arret', 'dim_transporteur', 'dim_vacances_scolaires']

# Toutes les tables de fait
tables_fait = [t.table_id for t in bq_client.list_tables("silver_dataset") 
               if t.table_id.startswith("fact_validations")]

for fact_table in tables_fait:
    print(f"\n=== Analyse des jointures pour {fact_table} ===")
    
    fact_table_obj = bq_client.get_table(f"{PROJECT_ID}.silver_dataset.{fact_table}")
    fact_cols = [field.name for field in fact_table_obj.schema]
    
    for dim_table in tables_dim:
        dim_table_obj = bq_client.get_table(f"{PROJECT_ID}.silver_dataset.{dim_table}")
        dim_cols = [field.name for field in dim_table_obj.schema]
        
        common_cols = list(set(fact_cols) & set(dim_cols))
        if not common_cols:
            print(f"Aucune clé commune avec {dim_table}")
            continue
        
        for col in common_cols:
            print(f"\nTable de dimension : {dim_table} | Colonne commune : {col}")
            query_integrity = f"""
            SELECT COUNT(*) AS missing_keys
            FROM `{PROJECT_ID}.silver_dataset.{fact_table}` f
            LEFT JOIN `{PROJECT_ID}.silver_dataset.{dim_table}` d
            ON f.{col} = d.{col}
            WHERE d.{col} IS NULL
            """
            missing_keys = bq_client.query(query_integrity).to_dataframe()['missing_keys'][0]
            integrity = "OK" if missing_keys == 0 else f"{missing_keys} manquants"
            print(f"Intégrité référentielle : {integrity}")

=== Analyse des jointures pour fact_validations_2015s1_nb_fer_csv ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2015s2_nb_fer_csv ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2016s1_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2016s2_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2017_s2_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2017s1_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2018_s1_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2019_s1_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2019_s2_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2020_s1_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2020_s2_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2021_s1_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2021_s2_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2022_s1_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2022_s2_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2023_s2_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

=== Analyse des jointures pour fact_validations_2024_s1_nb_fer_txt ===
Aucune clé commune avec gares
Aucune clé commune avec dim_ligne
Aucune clé commune avec dim_arret
Aucune clé commune avec dim_transporteur
Aucune clé commune avec dim_vacances_scolaires

---

## Tâche 4 : Analyse métier

Identifier les **KPIs** (Key Performance Indicators) à calculer :
- Nombre total de validations par période
- Répartition par type de titre
- Top 10 des gares les plus fréquentées
- Comparaison jour ouvrable vs weekend

In [ ]:
#1️⃣ Nombre total de validations par jour
fact_table = "fact_validations_2024_s1_nb_fer_txt"

query_total = f"""
SELECT 
    JOUR, 
    SUM(NB_VALD) AS total_validations
FROM `{PROJECT_ID}.silver_dataset.{fact_table}`
GROUP BY JOUR
ORDER BY JOUR
"""

df_total = bq_client.query(query_total).to_dataframe()
print("=== Nombre total de validations par jour ===")
display(df_total)

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

=== Nombre total de validations par jour ===

           JOUR  total_validations
0    2024-01-01            1314385
1    2024-01-02            4091678
2    2024-01-03            4807974
3    2024-01-04            5091641
4    2024-01-05            4935250
..          ...                ...
177  2024-06-26            6288567
178  2024-06-27            6398909
179  2024-06-28            6055079
180  2024-06-29            4227125
181  2024-06-30            3130659

[182 rows x 2 columns]

In [32]:
#2️⃣ Répartition par type de titre
query_titre = f"""
SELECT 
    CATEGORIE_TITRE, 
    SUM(NB_VALD) AS total_validations
FROM `{PROJECT_ID}.silver_dataset.{fact_table}`
GROUP BY CATEGORIE_TITRE
ORDER BY total_validations DESC
"""

df_titre = bq_client.query(query_titre).to_dataframe()
print("=== Répartition des validations par type de titre ===")
display(df_titre)

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

=== Répartition des validations par type de titre ===

                CATEGORIE_TITRE  total_validations
0                Forfait Navigo          492335516
1                     Imagine R          198765739
2  Contrat Solidarité Transport          120948494
3                 Autres titres           82016303
4                    NON DEFINI           26054833
5                     Amethyste           20795674
6               Forfaits courts            7377389

In [ ]:
#3️⃣ Top 10 des gares les plus fréquentées
query_top_gares = f"""
SELECT 
    LIBELLE_ARRET AS gare, 
    SUM(NB_VALD) AS total_validations
FROM `{PROJECT_ID}.silver_dataset.{fact_table}`
GROUP BY gare
ORDER BY total_validations DESC
LIMIT 10
"""

df_top_gares = bq_client.query(query_top_gares).to_dataframe()
print("=== Top 10 des gares les plus fréquentées ===")
display(df_top_gares)

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

=== Top 10 des gares les plus fréquentées ===

            gare  total_validations
0   SAINT-LAZARE           34191074
1       CHATELET           22050179
2   GARE DE LYON           19696028
3     LA DEFENSE           16076541
4   GARE DU NORD           15270456
5   MONTPARNASSE           14823464
6  GARE DE L'EST           13419660
7     LES HALLES            7587515
8     REPUBLIQUE            7421493
9         NATION            6237082

In [36]:
#4️⃣ Comparaison jour ouvrable vs weekend
query_jour_weekend = f"""
SELECT
    CASE 
        WHEN EXTRACT(DAYOFWEEK FROM JOUR) IN (1,7) THEN 'Weekend'
        ELSE 'Jour ouvrable'
    END AS type_jour,
    SUM(NB_VALD) AS total_validations
FROM `{PROJECT_ID}.silver_dataset.{fact_table}`
GROUP BY type_jour
ORDER BY type_jour
"""

df_jour_weekend = bq_client.query(query_jour_weekend).to_dataframe()
print("=== Comparaison Jour ouvrable vs Weekend ===")
display(df_jour_weekend)

c:\Users\etudiant\AppData\Local\Programs\Python\Python314\Lib\site-packages\google\cloud\bigquery\table.py:1994: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

=== Comparaison Jour ouvrable vs Weekend ===

       type_jour  total_validations
0  Jour ouvrable          770488340
1        Weekend          177805608